doctype html  
html(lang='en')  
head
    title Nemanja's page
    link(href='/css/bootstrap.min.css', rel='stylesheet')
body
    header

        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                a.navbar-brand(href='/') Home
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        if user 
                            li.nav-item.active
                                a.nav-link(href='/articles/add')
                                    | Add new article
                                    span.sr-only (current)
                        if user 
                            li.nav-item
                            a.nav-link(href='/user/logout') Logout
                        else 
                            li.nav-item
                                a.nav-link(href='/user/register') Register
                            li.nav-item
                                a.nav-link(href='/user/login') Login
                            li.nav-item
                                a.nav-link(href='#') Disabled


    .container.mt-2
        section
            block content
            br
            hr
        footer
            small.text-muted Created by nemanjamil

script(type='text/javascript' src='/js/jquery.min.js')
script(type='text/javascript' src='/js/bootstrap.bundle.min.js')
script(type='text/javascript' src='/js/custom.js')




